<div class="card-content collpase show">
    <div class="card-body">

        <div class="form-body">
            <h4 class="form-section"><i class="ft-file-text"></i> TEMUAN</h4>


            <div class="row">

                <div class="col-md-6">
                    <div class="form-group has-error" id="fg-temuan-temuan">
                        <label for="projectinput2">Temuan</label>
                        <textarea rows="6" required class="form-control border-primary" name="temuan"
                            placeholder="Temuan"></textarea>
                        <p class="p-error" id="error-temuan-temuan"></p>
                    </div>
                </div>
                <div class="col-md-3">

                    <div class="form-group has-error" id="fg-temuan-uraian">
                        <label for="projectinput1">Keterangan Temuan</label>
                        <textarea rows="6" required class="form-control border-primary" name="uraian"
                            placeholder="Uraian"></textarea>
                        <p class="p-error" id="error-temuan-uraian"></p>
                    </div>
                </div>
                <div class="col-md-3">

                    <div class="form-group has-error" id="fg-temuan-uraian">
                        <label for="projectinput1">User</label>
                        <input type="text" class="form-control" placeholder="" name="user" value="HADI" readonly>
                        <p class="p-error" id="error-temuan-user"></p>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group has-error" id="fg-temuan-kdpkoktm">
                        <label for="projectinput2">Pokok Temuan</label>
                        <select name="kdpokoktm" id="p_temuan" class="select2 form-control">
                            <option value="">Belum ada</option>
                            <option value='0'> 0. no data </option>
                            <option value='1'> 1. Kejadian Yang Merugikan Negara dan Masyarakat </option>
                            <option value='2'> 2. Kewajiban Penyetoran Kepada Negara </option>
                            <option value='3'> 3. Pelanggaran Terhadap Peraturan Peraturan Perundang-undangan </option>
                            <option value='4'> 4. Pelanggaran Terhadap Prosedur dan Tata Kerja Yang Telah Ditetapkan
                                Berlaku Khusus Bagi Organisasi Yang Bersangkutan </option>
                            <option value='5'> 5. Penyimpangan Dari Ketentuan Pelaksanaan Anggaran </option>
                            <option value='6'> 6. Hambatan Terhadap Kelancaran Kegiatan </option>
                            <option value='7'> 7. Hambatan Terhadap Kelancaran Tugas Pokok </option>
                            <option value='8'> 8. Kelemahan Administrasi (Kelemahan Tata Usaha/Akuntansi) </option>
                            <option value='9'> 9. Ketidaklancaran Pelayanan Kepada Masyarakat </option>
                            <option value='10'> 10. Temuan Audit Lainnya </option>
                        </select>
                        <p class="p-error" id="error-temuan-kdpokoktm"></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group has-error" id="fg-temuan-kdsubtemuan">
                        <label for="projectinput2">Sub Temuan</label>
                        <select class="select2 form-control" name="kdsubtemuan" id="kode_sub_temuan">
                            <option value="">Belum ada</option>
                        </select>
                    </div>
                </div>


            </div>


        </div>

    </div>



</div>


</div>
</div>
<div class="col-md-12">
    <div class="card">
        <div class="card-header">

            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">

                </ul>
            </div>
        </div>
        <div class="card-content collpase show">
            <div class="card-body">

                <div class="form-body">
                    <h4 style="border-bottom: 1px solid ; padding-bottom: 15px ;" class="form-section">
                        <i class="ft-file-text"></i> PENYEBAB
                    </h4>
                    <br></br>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group has-error" id="fg-temuan-no_penyebab_1">
                                <label for="projectinput1">No</label>
                                <input type="text" class="form-control" placeholder="" name="no_penyebab_1" value="1"
                                    readonly>
                                <p class="p-error" id="error-temuan-no_penyebab_1"></p>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group has-error" id="fg-temuan-penyebab_1">
                                <label for="projectinput2">Penyebab</label>
                                <textarea rows="6" required class="form-control border-primary"
                                    name="penyebab_1"></textarea>
                                <input type="hidden" name="id_pb" class="form-control" readonly>
                                <p class="p-error" id="error-temuan-penyebab_1"></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group has-error" id="fg-temuan-kdpokokpb_1">
                                <label for="projectinput2">Pokok Penyebab</label>
                                <select name="kdpokokpb_1" id="p_penyebab" class="select2 form-control">
                                    <option value="">Belum ada</option>
                                    <option value='0'> 0. no data </option>
                                    <option value='11'> 11. Kelemahan Dalam Lingkungan Pengendalian </option>
                                    <option value='12'> 12. Kelemahan Dalam Penilaian Resiko </option>
                                    <option value='13'> 13. Kelemahan Dalam Kegiatan Pengendalian </option>
                                    <option value='14'> 14. Kelemahan Dalam Informasi dan Komunikasi </option>
                                    <option value='15'> 15. Kelemahan Dalam Pemantauan Pengendalian Intern </option>
                                    <option value='21'> 21. Penyebab Ekstern Hambatan Kelancaran Kegiatan </option>
                                    <option value='22'> 22. Penyebab Ekstern Hambatan Kelancaran Tugas Pokok </option>
                                    <option value='23'> 23. Penyebab Ketidaklancaran Pelayanan Aparatur Pemerintah
                                        Kepada Masyarakat </option>
                                </select>
                                <p class="p-error" id="error-temuan-kdpokokpb_1"></p>
                            </div>
                            <div class="form-group has-error" id="fg-temuan-kdsubpenyebab">
                                <label for="projectinput2">Sub Penyebab</label>
                                <select class="select2 form-control" name="kdsubpenyebab_1" id="kode_sub_penyebab">
                                    <option value="">Belum ada</option>
                                </select>
                                <p class="p-error" id="error-temuan-kdsubpenyebab_1"></p>
                            </div>
                        </div>

                    </div>


                </div>
                <div class="form-body">

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group has-error" id="fg-temuan-no_penyebab_2">
                                <label for="projectinput1">No</label>
                                <input type="text" class="form-control" placeholder="" name="no_penyebab_2" value="2"
                                    readonly>
                                <p class="p-error" id="error-temuan-no_penyebab_2"></p>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group has-error" id="fg-temuan-penyebab_2">
                                <label for="projectinput2">Penyebab</label>
                                <textarea rows="6" required class="form-control border-primary"
                                    name="penyebab_2"></textarea>
                                <p class="p-error" id="error-temuan-penyebab_2"></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group has-error" id="fg-temuan-kdpokokpb_2">
                                <label for="projectinput2">Pokok Penyebab</label>
                                <select name="kdpokokpb_2" id="p_penyebab2" class="select2 form-control">
                                    <option value="">Belum ada</option>
                                    <option value='0'> 0. no data </option>
                                    <option value='11'> 11. Kelemahan Dalam Lingkungan Pengendalian </option>
                                    <option value='12'> 12. Kelemahan Dalam Penilaian Resiko </option>
                                    <option value='13'> 13. Kelemahan Dalam Kegiatan Pengendalian </option>
                                    <option value='14'> 14. Kelemahan Dalam Informasi dan Komunikasi </option>
                                    <option value='15'> 15. Kelemahan Dalam Pemantauan Pengendalian Intern </option>
                                    <option value='21'> 21. Penyebab Ekstern Hambatan Kelancaran Kegiatan </option>
                                    <option value='22'> 22. Penyebab Ekstern Hambatan Kelancaran Tugas Pokok </option>
                                    <option value='23'> 23. Penyebab Ketidaklancaran Pelayanan Aparatur Pemerintah
                                        Kepada Masyarakat </option>
                                </select>
                                <p class="p-error" id="error-temuan-kdpokokpb_2"></p>
                            </div>
                            <div class="form-group has-error" id="fg-temuan-kdsubpenyebab_2">
                                <label for="projectinput2">Sub Penyebab</label>
                                <select class="select2 form-control" name="kdsubpenyebab_2" id="kode_sub_penyebab2">
                                    <option value="">Belum ada</option>
                                </select>
                                <p class="p-error" id="error-temuan-kdsubpenyebab_2"></p>
                            </div>
                        </div>

                    </div>


                </div>
                <div class="form-body">

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group has-error" id="fg-temuan-no_penyebab_3">
                                <label for="projectinput1">No</label>
                                <input type="text" class="form-control" placeholder="" name="no_penyebab_3" value="3"
                                    readonly>
                                <p class="p-error" id="error-temuan-no_penyebab_3"></p>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group has-error" id="fg-temuan-penyebab_3">
                                <label for="projectinput2">Penyebab</label>
                                <textarea rows="6" required class="form-control border-primary"
                                    name="penyebab_3"></textarea>
                                <p class="p-error" id="error-temuan-penyebab_3"></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group has-error" id="fg-temuan-kdpokokpb_3">
                                <label for="projectinput2">Pokok Penyebab</label>
                                <select name="kdpokokpb_3" id="p_penyebab3" required class="select2 form-control">
                                    <option value="">Belum ada</option>
                                    <option value='0'> 0. no data </option>
                                    <option value='11'> 11. Kelemahan Dalam Lingkungan Pengendalian </option>
                                    <option value='12'> 12. Kelemahan Dalam Penilaian Resiko </option>
                                    <option value='13'> 13. Kelemahan Dalam Kegiatan Pengendalian </option>
                                    <option value='14'> 14. Kelemahan Dalam Informasi dan Komunikasi </option>
                                    <option value='15'> 15. Kelemahan Dalam Pemantauan Pengendalian Intern </option>
                                    <option value='21'> 21. Penyebab Ekstern Hambatan Kelancaran Kegiatan </option>
                                    <option value='22'> 22. Penyebab Ekstern Hambatan Kelancaran Tugas Pokok </option>
                                    <option value='23'> 23. Penyebab Ketidaklancaran Pelayanan Aparatur Pemerintah
                                        Kepada Masyarakat </option>
                                </select>
                                <p class="p-error" id="error-temuan-kdpokokpb_3"></p>
                            </div>
                            <div class="form-group has-error" id="fg-temuan-kdsubpenyebab_3">
                                <label for="projectinput2">Sub Penyebab</label>
                                <select class="select2 form-control" required name="kdsubpenyebab_3"
                                    id="kode_sub_penyebab3">
                                    <option value="">Belum ada</option>
                                </select>
                                <p class="p-error" id="error-temuan-kdsubpenyebab_3"></p>
                            </div>
                        </div>

                    </div>


                </div>
                <div class="form-body">

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group has-error" id="fg-temuan-no_penyebab_4">
                                <label for="projectinput1">No</label>
                                <input type="text" class="form-control" placeholder="" name="no_penyebab_4" value="4"
                                    readonly>
                                <p class="p-error" id="error-temuan-no_penyebab_4"></p>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group has-error" id="fg-temuan-penyebab_4">
                                <label for="projectinput2">Penyebab</label>
                                <textarea rows="6" required class="form-control border-primary"
                                    name="penyebab_4"></textarea>
                                <p class="p-error" id="error-temuan-penyebab_4"></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group has-error" id="fg-temuan-kdpokokpb_4">
                                <label for="projectinput2">Pokok Penyebab</label>
                                <select name="kdpokokpb_4" id="p_penyebab4" required class="select2 form-control">
                                    <option value="">Belum ada</option>
                                    <option value='0'> 0. no data </option>
                                    <option value='11'> 11. Kelemahan Dalam Lingkungan Pengendalian </option>
                                    <option value='12'> 12. Kelemahan Dalam Penilaian Resiko </option>
                                    <option value='13'> 13. Kelemahan Dalam Kegiatan Pengendalian </option>
                                    <option value='14'> 14. Kelemahan Dalam Informasi dan Komunikasi </option>
                                    <option value='15'> 15. Kelemahan Dalam Pemantauan Pengendalian Intern </option>
                                    <option value='21'> 21. Penyebab Ekstern Hambatan Kelancaran Kegiatan </option>
                                    <option value='22'> 22. Penyebab Ekstern Hambatan Kelancaran Tugas Pokok </option>
                                    <option value='23'> 23. Penyebab Ketidaklancaran Pelayanan Aparatur Pemerintah
                                        Kepada Masyarakat </option>
                                </select>
                                <p class="p-error" id="error-temuan-kdpokokpb_"></p>
                            </div>
                            <div class="form-group has-error" id="fg-temuan-kdsubpenyebab_4">
                                <label for="projectinput2">Sub Penyebab</label>
                                <select class="select2 form-control" required name="kdsubpenyebab_4"
                                    id="kode_sub_penyebab4">
                                    <option value="">Belum ada</option>
                                </select>
                                <p class="p-error" id="error-temuan-kdsubpenyebab_4"></p>
                            </div>
                        </div>

                    </div>


                </div>
            </div>



        </div>


    </div>
</div>






</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">

                <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">

                    </ul>
                </div>
            </div>
            <div class="card-content collpase show">
                <div class="card-header">
                    <h4 style="border-bottom: 1px solid ; padding-bottom: 15px ;" class="form-section">
                        <i class="ft-file-text"></i> REKOMENDASI 1 </h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-6 col-lg-12">
                            <fieldset>
                                <h5>Id Rekomendasi

                                </h5>
                                <div class="form-group" id="fg-temuan-id_rk">
                                    <input readonly type="text" id="id_rekomendasi_1" class="form-control"
                                        value="R_1_8_195" name="id_rk_1">
                                    <input readonly type="hidden" id="no_rekom_1" class="form-control" value="1"
                                        name="no_rekom_1">
                                    <p class="p-error" id="error-temuan-no_rekom_1"></p>
                                </div>
                            </fieldset>
                            <fieldset>
                                <h5>Rekomendasi

                                </h5>
                                <div class="form-group" id="fg-temuan-rekomendasi">
                                    <textarea rows="6" required class="form-control border-primary"
                                        name="rekomendasi_1"></textarea>
                                    <p style="color: white;">a</p>
                                    <p class="p-error" id="error-temuan-rekomendasi_1"></p>
                                </div>
                            </fieldset>



                            <fieldset>


                        </div>
                        <div class="col-xl-6 col-lg-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <fieldset>
                                        <h5>Pokok Rekomendasi

                                        </h5>
                                        <div class="form-group" id="fg-temuan-kdpokokrk">
                                            <select class="select2 form-control" name="kdpokokrk_1" required
                                                id="p_rekomendasi1">
                                                <option value="">Belum ada</option>
                                                <option value='0'>0. no data </option>
                                                <option value='1'>1. Rekomendasi Bersifat Finansial </option>
                                                <option value='2'>2. Rekomendasi Bersifat Pengembalian Barang atau
                                                    Penyerahan Barang/Jasa </option>
                                                <option value='3'>3. Rekomendasi Bersifat Hukum oleh Instansi yang
                                                    Bersangkutan </option>
                                                <option value='4'>4. Rekomendasi yang Diserahkan ke Aparat yang
                                                    Berwenang </option>
                                                <option value='5'>5. Rekomendasi yang Tidak Bersifat Hukuman </option>
                                                <option value='6'>6. Rekomendasi Bersifat Peningkatan Kehematan
                                                </option>
                                                <option value='7'>7. Rekomendasi Bersifat Peningkatan
                                                    Efisiensi/Produktivitas </option>
                                                <option value='8'>8. Rekomendasi Bersifat Peningkatan Efektivitas
                                                </option>
                                                <option value='9'>9. Rekomendasi Bersifat Peningkatan Sistem
                                                    Pengendalian Intern </option>
                                            </select>
                                            <p class="p-error" id="error-temuan-kdpokokrk_1"></p>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <h5>Sub Rekomendasi

                                    </h5>
                                    <div class="form-group" id="fg-temuan-kdsubrk">
                                        <select class="select2 form-control" required name="kdsubrk_1"
                                            id="kode_sub_rekomendasi_1">
                                            <option value="">Belum ada</option>
                                        </select>
                                        <p class="p-error" id="error-temuan-kdsubrk_1"></p>
                                    </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <fieldset>
                                        <h5>Nilai Kerugian

                                        </h5>
                                        <div class="form-group" id="fg-temuan-nilai_kerugian">
                                            <input type="text" class="form-control numeric" id="sisa_kerugian_1"
                                                name="sisa_kerugian_1" readonly>
                                            <p class="p-error" id="error-temuan-nilai_kerugian_1">
                                            </p>
                                            <input min="0" type="text" class="form-control" id="nilai_kerugian_1"
                                                name="nilai_kerugian_1" onkeyup="kerugian(1);">


                                        </div>
                                    </fieldset>
                                </div>

                                <div class="col-md-6">
                                    <fieldset>
                                        <h5>Nilai Kewajiban

                                        </h5>
                                        <div class="form-group">
                                            <input type="text" class="form-control numeric" id="sisa_kewajiban_1"
                                                name="sisa_kewajiban_1" readonly>
                                            <p class="p-error" id="error-temuan-nilai_kewajiban_1"></p>
                                            <input min="0" type="text" class="form-control" id="nilai_kewajiban_1"
                                                name="nilai_kewajiban_1" onkeyup="kewajiban(1);">


                                        </div>
                                    </fieldset>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>


                <div class="card-header">
                    <h4 style="border-bottom: 1px solid ; padding-bottom: 15px ;" class="form-section">
                        <i class="ft-file-text"></i> REKOMENDASI 2 </h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-6 col-lg-12">
                            <fieldset>
                                <h5>Id Rekomendasi

                                </h5>
                                <div class="form-group" id="fg-temuan-id_rk">
                                    <input readonly type="text" id="id_rekomendasi_2" class="form-control"
                                        value="R_2_8_195" name="id_rk_2">
                                    <input readonly type="hidden" id="no_rekom_2" class="form-control" value="2"
                                        name="no_rekom_2">
                                    <p class="p-error" id="error-temuan-no_rekom_2"></p>
                                </div>
                            </fieldset>
                            <fieldset>
                                <h5>Rekomendasi

                                </h5>
                                <div class="form-group" id="fg-temuan-rekomendasi">
                                    <textarea rows="6" required class="form-control border-primary"
                                        name="rekomendasi_2"></textarea>
                                    <p style="color: white;">a</p>
                                    <p class="p-error" id="error-temuan-rekomendasi_2"></p>
                                </div>
                            </fieldset>



                            <fieldset>


                        </div>
                        <div class="col-xl-6 col-lg-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <fieldset>
                                        <h5>Pokok Rekomendasi

                                        </h5>
                                        <div class="form-group" id="fg-temuan-kdpokokrk">
                                            <select class="select2 form-control" name="kdpokokrk_2" required
                                                id="p_rekomendasi2">
                                                <option value="">Belum ada</option>
                                                <option value='0'>0. no data </option>
                                                <option value='1'>1. Rekomendasi Bersifat Finansial </option>
                                                <option value='2'>2. Rekomendasi Bersifat Pengembalian Barang atau
                                                    Penyerahan Barang/Jasa </option>
                                                <option value='3'>3. Rekomendasi Bersifat Hukum oleh Instansi yang
                                                    Bersangkutan </option>
                                                <option value='4'>4. Rekomendasi yang Diserahkan ke Aparat yang
                                                    Berwenang </option>
                                                <option value='5'>5. Rekomendasi yang Tidak Bersifat Hukuman </option>
                                                <option value='6'>6. Rekomendasi Bersifat Peningkatan Kehematan
                                                </option>
                                                <option value='7'>7. Rekomendasi Bersifat Peningkatan
                                                    Efisiensi/Produktivitas </option>
                                                <option value='8'>8. Rekomendasi Bersifat Peningkatan Efektivitas
                                                </option>
                                                <option value='9'>9. Rekomendasi Bersifat Peningkatan Sistem
                                                    Pengendalian Intern </option>
                                            </select>
                                            <p class="p-error" id="error-temuan-kdpokokrk_2"></p>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <h5>Sub Rekomendasi

                                    </h5>
                                    <div class="form-group" id="fg-temuan-kdsubrk">
                                        <select class="select2 form-control" required name="kdsubrk_2"
                                            id="kode_sub_rekomendasi_2">
                                            <option value="">Belum ada</option>
                                        </select>
                                        <p class="p-error" id="error-temuan-kdsubrk_2"></p>
                                    </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <fieldset>
                                        <h5>Nilai Kerugian

                                        </h5>
                                        <div class="form-group" id="fg-temuan-nilai_kerugian">
                                            <input type="text" class="form-control numeric" id="sisa_kerugian_2"
                                                name="sisa_kerugian_2" readonly>
                                            <p class="p-error" id="error-temuan-nilai_kerugian_2">
                                            </p>
                                            <input min="0" type="text" class="form-control" id="nilai_kerugian_2"
                                                name="nilai_kerugian_2" onkeyup="kerugian(2);">


                                        </div>
                                    </fieldset>
                                </div>

                                <div class="col-md-6">
                                    <fieldset>
                                        <h5>Nilai Kewajiban

                                        </h5>
                                        <div class="form-group">
                                            <input type="text" class="form-control numeric" id="sisa_kewajiban_2"
                                                name="sisa_kewajiban_2" readonly>
                                            <p class="p-error" id="error-temuan-nilai_kewajiban_2"></p>
                                            <input min="0" type="text" class="form-control" id="nilai_kewajiban_2"
                                                name="nilai_kewajiban_2" onkeyup="kewajiban(2);">


                                        </div>
                                    </fieldset>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>


                <div class="card-header">
                    <h4 style="border-bottom: 1px solid ; padding-bottom: 15px ;" class="form-section">
                        <i class="ft-file-text"></i> REKOMENDASI 3 </h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-6 col-lg-12">
                            <fieldset>
                                <h5>Id Rekomendasi

                                </h5>
                                <div class="form-group" id="fg-temuan-id_rk">
                                    <input readonly type="text" id="id_rekomendasi_3" class="form-control"
                                        value="R_3_8_195" name="id_rk_3">
                                    <input readonly type="hidden" id="no_rekom_3" class="form-control" value="3"
                                        name="no_rekom_3">
                                    <p class="p-error" id="error-temuan-no_rekom_3"></p>
                                </div>
                            </fieldset>
                            <fieldset>
                                <h5>Rekomendasi

                                </h5>
                                <div class="form-group" id="fg-temuan-rekomendasi">
                                    <textarea rows="6" required class="form-control border-primary"
                                        name="rekomendasi_3"></textarea>
                                    <p style="color: white;">a</p>
                                    <p class="p-error" id="error-temuan-rekomendasi_3"></p>
                                </div>
                            </fieldset>



                            <fieldset>


                        </div>
                        <div class="col-xl-6 col-lg-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <fieldset>
                                        <h5>Pokok Rekomendasi

                                        </h5>
                                        <div class="form-group" id="fg-temuan-kdpokokrk">
                                            <select class="select2 form-control" name="kdpokokrk_3" required
                                                id="p_rekomendasi3">
                                                <option value="">Belum ada</option>
                                                <option value='0'>0. no data </option>
                                                <option value='1'>1. Rekomendasi Bersifat Finansial </option>
                                                <option value='2'>2. Rekomendasi Bersifat Pengembalian Barang atau
                                                    Penyerahan Barang/Jasa </option>
                                                <option value='3'>3. Rekomendasi Bersifat Hukum oleh Instansi yang
                                                    Bersangkutan </option>
                                                <option value='4'>4. Rekomendasi yang Diserahkan ke Aparat yang
                                                    Berwenang </option>
                                                <option value='5'>5. Rekomendasi yang Tidak Bersifat Hukuman </option>
                                                <option value='6'>6. Rekomendasi Bersifat Peningkatan Kehematan
                                                </option>
                                                <option value='7'>7. Rekomendasi Bersifat Peningkatan
                                                    Efisiensi/Produktivitas </option>
                                                <option value='8'>8. Rekomendasi Bersifat Peningkatan Efektivitas
                                                </option>
                                                <option value='9'>9. Rekomendasi Bersifat Peningkatan Sistem
                                                    Pengendalian Intern </option>
                                            </select>
                                            <p class="p-error" id="error-temuan-kdpokokrk_3"></p>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <h5>Sub Rekomendasi

                                    </h5>
                                    <div class="form-group" id="fg-temuan-kdsubrk">
                                        <select class="select2 form-control" required name="kdsubrk_3"
                                            id="kode_sub_rekomendasi_3">
                                            <option value="">Belum ada</option>
                                        </select>
                                        <p class="p-error" id="error-temuan-kdsubrk_3"></p>
                                    </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <fieldset>
                                        <h5>Nilai Kerugian

                                        </h5>
                                        <div class="form-group" id="fg-temuan-nilai_kerugian">
                                            <input type="text" class="form-control numeric" id="sisa_kerugian_3"
                                                name="sisa_kerugian_3" readonly>
                                            <p class="p-error" id="error-temuan-nilai_kerugian_3">
                                            </p>
                                            <input min="0" type="text" class="form-control" id="nilai_kerugian_3"
                                                name="nilai_kerugian_3" onkeyup="kerugian(3);">


                                        </div>
                                    </fieldset>
                                </div>

                                <div class="col-md-6">
                                    <fieldset>
                                        <h5>Nilai Kewajiban

                                        </h5>
                                        <div class="form-group">
                                            <input type="text" class="form-control numeric" id="sisa_kewajiban_3"
                                                name="sisa_kewajiban_3" readonly>
                                            <p class="p-error" id="error-temuan-nilai_kewajiban_3"></p>
                                            <input min="0" type="text" class="form-control" id="nilai_kewajiban_3"
                                                name="nilai_kewajiban_3" onkeyup="kewajiban(3);">


                                        </div>
                                    </fieldset>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>


                <div class="card-header">
                    <h4 style="border-bottom: 1px solid ; padding-bottom: 15px ;" class="form-section">
                        <i class="ft-file-text"></i> REKOMENDASI 4 </h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-6 col-lg-12">
                            <fieldset>
                                <h5>Id Rekomendasi

                                </h5>
                                <div class="form-group" id="fg-temuan-id_rk">
                                    <input readonly type="text" id="id_rekomendasi_4" class="form-control"
                                        value="R_4_8_195" name="id_rk_4">
                                    <input readonly type="hidden" id="no_rekom_4" class="form-control" value="4"
                                        name="no_rekom_4">
                                    <p class="p-error" id="error-temuan-no_rekom_4"></p>
                                </div>
                            </fieldset>
                            <fieldset>
                                <h5>Rekomendasi

                                </h5>
                                <div class="form-group" id="fg-temuan-rekomendasi">
                                    <textarea rows="6" required class="form-control border-primary"
                                        name="rekomendasi_4"></textarea>
                                    <p style="color: white;">a</p>
                                    <p class="p-error" id="error-temuan-rekomendasi_4"></p>
                                </div>
                            </fieldset>



                            <fieldset>


                        </div>
                        <div class="col-xl-6 col-lg-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <fieldset>
                                        <h5>Pokok Rekomendasi

                                        </h5>
                                        <div class="form-group" id="fg-temuan-kdpokokrk">
                                            <select class="select2 form-control" name="kdpokokrk_4" required
                                                id="p_rekomendasi4">
                                                <option value="">Belum ada</option>
                                                <option value='0'>0. no data </option>
                                                <option value='1'>1. Rekomendasi Bersifat Finansial </option>
                                                <option value='2'>2. Rekomendasi Bersifat Pengembalian Barang atau
                                                    Penyerahan Barang/Jasa </option>
                                                <option value='3'>3. Rekomendasi Bersifat Hukum oleh Instansi yang
                                                    Bersangkutan </option>
                                                <option value='4'>4. Rekomendasi yang Diserahkan ke Aparat yang
                                                    Berwenang </option>
                                                <option value='5'>5. Rekomendasi yang Tidak Bersifat Hukuman </option>
                                                <option value='6'>6. Rekomendasi Bersifat Peningkatan Kehematan
                                                </option>
                                                <option value='7'>7. Rekomendasi Bersifat Peningkatan
                                                    Efisiensi/Produktivitas </option>
                                                <option value='8'>8. Rekomendasi Bersifat Peningkatan Efektivitas
                                                </option>
                                                <option value='9'>9. Rekomendasi Bersifat Peningkatan Sistem
                                                    Pengendalian Intern </option>
                                            </select>
                                            <p class="p-error" id="error-temuan-kdpokokrk_4"></p>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <h5>Sub Rekomendasi

                                    </h5>
                                    <div class="form-group" id="fg-temuan-kdsubrk">
                                        <select class="select2 form-control" required name="kdsubrk_4"
                                            id="kode_sub_rekomendasi_4">
                                            <option value="">Belum ada</option>
                                        </select>
                                        <p class="p-error" id="error-temuan-kdsubrk_4"></p>
                                    </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <fieldset>
                                        <h5>Nilai Kerugian

                                        </h5>
                                        <div class="form-group" id="fg-temuan-nilai_kerugian">
                                            <input type="text" class="form-control numeric" id="sisa_kerugian_4"
                                                name="sisa_kerugian_4" readonly>
                                            <p class="p-error" id="error-temuan-nilai_kerugian_4">
                                            </p>
                                            <input min="0" type="text" class="form-control" id="nilai_kerugian_4"
                                                name="nilai_kerugian_4" onkeyup="kerugian(4);">


                                        </div>
                                    </fieldset>
                                </div>

                                <div class="col-md-6">
                                    <fieldset>
                                        <h5>Nilai Kewajiban

                                        </h5>
                                        <div class="form-group">
                                            <input type="text" class="form-control numeric" id="sisa_kewajiban_4"
                                                name="sisa_kewajiban_4" readonly>
                                            <p class="p-error" id="error-temuan-nilai_kewajiban_4"></p>
                                            <input min="0" type="text" class="form-control" id="nilai_kewajiban_4"
                                                name="nilai_kewajiban_4" onkeyup="kewajiban(4);">


                                        </div>
                                    </fieldset>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>


                <div class="card-header">
                    <h4 style="border-bottom: 1px solid ; padding-bottom: 15px ;" class="form-section">
                        <i class="ft-file-text"></i> REKOMENDASI 5 </h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-6 col-lg-12">
                            <fieldset>
                                <h5>Id Rekomendasi

                                </h5>
                                <div class="form-group" id="fg-temuan-id_rk">
                                    <input readonly type="text" id="id_rekomendasi_5" class="form-control"
                                        value="R_5_8_195" name="id_rk_5">
                                    <input readonly type="hidden" id="no_rekom_5" class="form-control" value="5"
                                        name="no_rekom_5">
                                    <p class="p-error" id="error-temuan-no_rekom_5"></p>
                                </div>
                            </fieldset>
                            <fieldset>
                                <h5>Rekomendasi

                                </h5>
                                <div class="form-group" id="fg-temuan-rekomendasi">
                                    <textarea rows="6" required class="form-control border-primary"
                                        name="rekomendasi_5"></textarea>
                                    <p style="color: white;">a</p>
                                    <p class="p-error" id="error-temuan-rekomendasi_5"></p>
                                </div>
                            </fieldset>



                            <fieldset>


                        </div>
                        <div class="col-xl-6 col-lg-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <fieldset>
                                        <h5>Pokok Rekomendasi

                                        </h5>
                                        <div class="form-group" id="fg-temuan-kdpokokrk">
                                            <select class="select2 form-control" name="kdpokokrk_5" required
                                                id="p_rekomendasi5">
                                                <option value="">Belum ada</option>
                                                <option value='0'>0. no data </option>
                                                <option value='1'>1. Rekomendasi Bersifat Finansial </option>
                                                <option value='2'>2. Rekomendasi Bersifat Pengembalian Barang atau
                                                    Penyerahan Barang/Jasa </option>
                                                <option value='3'>3. Rekomendasi Bersifat Hukum oleh Instansi yang
                                                    Bersangkutan </option>
                                                <option value='4'>4. Rekomendasi yang Diserahkan ke Aparat yang
                                                    Berwenang </option>
                                                <option value='5'>5. Rekomendasi yang Tidak Bersifat Hukuman </option>
                                                <option value='6'>6. Rekomendasi Bersifat Peningkatan Kehematan
                                                </option>
                                                <option value='7'>7. Rekomendasi Bersifat Peningkatan
                                                    Efisiensi/Produktivitas </option>
                                                <option value='8'>8. Rekomendasi Bersifat Peningkatan Efektivitas
                                                </option>
                                                <option value='9'>9. Rekomendasi Bersifat Peningkatan Sistem
                                                    Pengendalian Intern </option>
                                            </select>
                                            <p class="p-error" id="error-temuan-kdpokokrk_5"></p>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <h5>Sub Rekomendasi

                                    </h5>
                                    <div class="form-group" id="fg-temuan-kdsubrk">
                                        <select class="select2 form-control" required name="kdsubrk_5"
                                            id="kode_sub_rekomendasi_5">
                                            <option value="">Belum ada</option>
                                        </select>
                                        <p class="p-error" id="error-temuan-kdsubrk_5"></p>
                                    </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <fieldset>
                                        <h5>Nilai Kerugian

                                        </h5>
                                        <div class="form-group" id="fg-temuan-nilai_kerugian">
                                            <input type="text" class="form-control numeric" id="sisa_kerugian_5"
                                                name="sisa_kerugian_5" readonly>
                                            <p class="p-error" id="error-temuan-nilai_kerugian_5">
                                            </p>
                                            <input min="0" type="text" class="form-control" id="nilai_kerugian_5"
                                                name="nilai_kerugian_5" onkeyup="kerugian(5);">


                                        </div>
                                    </fieldset>
                                </div>

                                <div class="col-md-6">
                                    <fieldset>
                                        <h5>Nilai Kewajiban

                                        </h5>
                                        <div class="form-group">
                                            <input type="text" class="form-control numeric" id="sisa_kewajiban_5"
                                                name="sisa_kewajiban_5" readonly>
                                            <p class="p-error" id="error-temuan-nilai_kewajiban_5"></p>
                                            <input min="0" type="text" class="form-control" id="nilai_kewajiban_5"
                                                name="nilai_kewajiban_5" onkeyup="kewajiban(5);">


                                        </div>
                                    </fieldset>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
