<option value="">Belum ada</option>
<option value="0">0. no data</option>
<option value="1">1. Kejadian Yang Merugikan Negara dan Masyarakat</option>
<!-- sub pokok temuan -->
1 .Ketekoran Kas 10 .Tuntutan ganti rugi kepada pegawai atau pihak Ill yang
masih harus diselesaikan Pembayarannya (belum dilunasi). 11.Penggunaan dana yang
tidak sesuai dengan tujuan/sasaran program. 12 .Pungutan yang tidak memiliki
dasar hukum yang jelas. 13 .Pengutan kepada masyarakat/perusahaan diluar
ketentuan. 14 .Pemotongan bantuan negara kepada masyarakat. 15 .Menghidupkan
kembali temuan 10100 yang telah diekstra komptabelkan,tetapi ditindaklanjuti. 2
.1Jang/Barang Negara diambil untuk kepentingan pribadi. 3 .Pengeluaran fiktif
(pengeluaran tanpa imbalan barang atau jasa bagian Negara). 4 .Harga
pengadaan/pelaksanaan pekerjaan lebih tinggi dari yang semestinya sehingga perlu
ada pengembalian uang. 5 .Pengembalian uang muka untuk pekerjaan/pengadaan yang
tidak dilaksanakan. 6 .Pengembalian uang karena kualitas barang/jasa tidak
sesuai kontrak. 7 .Pelaksanaan pekerjaan/pengadaan atas barang/jasa yang tidak
sesuai kontrak. 8 .Tindakan lain pegawai yang menimbulkan kerugian Negara. 9
.Kelalaian pegawai yang menimbulkan kerugian Negara.

<option value="2">2. Kewajiban Penyetoran Kepada Negara</option>
<!-- sub pokok temuan -->
1 .Kewajiban Penyetoran Pajak (Pajak, Bea dan Cukai Pendapatan Minyak. 10
.Kewajiban penyetoran ke Kas BUMN/BUMD jaminan lelang, pelaksanaan pekerjaan dan
lainnya. 11 .Denda atas kelambatan pekerjaan/pengadaan barang. 12 .Jumlah denda
telah ditetapkan tetapi belum disetorkan ke Kas Negara. 13 . umlah denda masih
harus diteta kan dan disetorkan ke Kas Negara. 14 .Denda atas kelambatan
pekerjaan/pengadaan barang atas beban anggaran daerah. 15 .Jumlah denda telah
ditetapkan, tetapi belum disetorkan ke Kas Daerah. 16 .Jumlah denda masih harus
ditetapkan dan disetorkan ke Kas Daerah. 17 .Denda atas kelambatan
pekerjaan/pengadaan barang atas beban BUMN/BUMD. 18 .Jumlah denda telah
ditetapkan, tetapi belum disetorkan ke Kas BUMN/BUMD. 19 .Jumlah denda masih
harus ditetapkan dan disetorkan ke Kas BUMN/BUMD. 2 .Pajak yang telah dipungut
Oleh Bendaharawan/Badan (sbg Wapu) tetapi belum disetorkan ke Kas Negara sesuai
dengan batas waktu yang telah ditetapkan menurut ketentuan yang berlaku. 20
.Tuntutan ganti rugi kepada pegawai atau pihak ketiga yang masih harus
diselesaikan Pembayarannya (belum dilunasi). 21 .Sisa anggaran pada akhir tahun
anggaran yang tidak dipergunakan lagi dan masih harus disetorkan ke Kas Negara
22 .Kewajiban penyetoran bukan pajak berupa tunggakan penyetoran penerimaan
bukan pajak pungutan penerimaan lainnya yang menjadi hak Negara. 23 .Kewajiban
penyetoran lainnya seperti hasil penjualan barang, sewa alat-alat besar, sewa
rumah dinas dsb, yang masih harus disetorkan kepada Negara. 24 .Barang/jasa
tidak sesuai dengan BA atau Kontrak. 25 .Menghidupkan kembali temuan 10200 yang
telah diekstra komptabelkan, tetapi ditindaklanjuti. 3 .Pajak -Pajak yang masih
harus dipungut dan disetorkan ke Kas Negara Oleh Bendaharawan / Badan 4
.Tunggakan angsuran pajak yang masih harus disetorkan ke Kas Negara. 5
.Kewajiban penyetoran pajak daerah. 6 .Pajak daerah daerah yang telah dipungut
Oleh Bendaharawan /Badan (sebagai wajib pungut) tetapi belum disetorkan ke Kas
Daerah sesuai dengan batas waktu yang telah ditetapkan menurut ketentuan yang
berlaku. 7 .Pajak-pajak daerah yang masih harus dipungut dan disetorkan ke Kas
Daerah atau Bendaharawan/Badan. 8 .Tunggakan angsuran pajak yang masih harus
disetorkan ke Kas Daerah. 9 .Kewajiban penyetoran ke Kas Negara berupa jaminan
lelang, pelaksanaan pekerjaan dan lainnya.

<option value="3">
    3. Pelanggaran Terhadap Peraturan Peraturan Perundang-undangan
</option>
<option value="4">
    4. Pelanggaran Terhadap Prosedur dan Tata Kerja Yang Telah Ditetapkan
    Berlaku Khusus Bagi Organisasi Yang Bersangkutan
</option>
<option value="5">5. Penyimpangan Dari Ketentuan Pelaksanaan Anggaran</option>
<option value="6">6. Hambatan Terhadap Kelancaran Kegiatan</option>
<option value="7">7. Hambatan Terhadap Kelancaran Tugas Pokok</option>
<option value="8">
    8. Kelemahan Administrasi (Kelemahan Tata Usaha/Akuntansi)
</option>
<option value="9">9. Ketidaklancaran Pelayanan Kepada Masyarakat</option>
<option value="10">10. Temuan Audit Lainnya</option>
