<option value="">Belum ada</option>
<option value='0'>0. no data </option>
<option value='1'>1. Rekomendasi Bersifat Finansial </option>
<!-- sub pokok temuan -->
1. Penyetoran ke kas Negara/Daerah sisa anggaran, Pajak dan non Pajak yang belum disetor.
10. Pengembalian fungli kepada masyarakat.
11 . Rekomendasi lainnya yang bersifat finansial.
2. Penyetoran kembali uang ke Kas Negara / Daerah selain sisa anggaran, pajak dan Non Pajak.
3. Penagihan kepada pihak ketiga hak Negara/Daerah berupa pajak dan non pajak dan penyetorannya ke Kas Negara/Daerah.
4. Penagihan kepada pegawai hak/tagihan Negara/Daerah dan penyetorannya ke Kas Negara/Daerah.
5. Pembatalan pengeluaran yang tidak sesuai atau melampaui mata anggarannya dan penyetorannya ke Kas Negara/Daerah.
6. Penyetoran kembali uang ke Kas BIJMN/BUMD.
7. Penagihan kepada pihak ketiga hak BUMN/BUMD dan pelunasannya Oleh pihak ketiga.
8. Pengenaan denda dan penyetorannya ke Kas BIJMN/BUMD.
9. Tuntutan ganti rugi terhadap pegawai BIJMN/BUMD dan penyetoran ganti rugi ke Kas BIJMN/BUMD.

<option value='2'>2. Rekomendasi Bersifat Pengembalian Barang atau Penyerahan Barang/Jasa </option>
<!-- sub pokok temuan -->



<option value='3'>3. Rekomendasi Bersifat Hukum oleh Instansi yang Bersangkutan </option>
<!-- sub pokok temuan -->



<option value='4'>4. Rekomendasi yang Diserahkan ke Aparat yang Berwenang </option>
<!-- sub pokok temuan -->


<option value='5'>5. Rekomendasi yang Tidak Bersifat Hukuman </option>
<!-- sub pokok temuan -->


<option value='6'>6. Rekomendasi Bersifat Peningkatan Kehematan </option>
<!-- sub pokok temuan -->


<option value='7'>7. Rekomendasi Bersifat Peningkatan Efisiensi/Produktivitas </option>
<!-- sub pokok temuan -->


<option value='8'>8. Rekomendasi Bersifat Peningkatan Efektivitas </option>
<!-- sub pokok temuan -->


<option value='9'>9. Rekomendasi Bersifat Peningkatan Sistem Pengendalian Intern </option>
<!-- sub pokok temuan -->