<option value="">Belum ada</option>
<option value='0'> 0. no data </option>
<option value='11'> 11. Kelemahan Dalam Lingkungan Pengendalian </option>
<!-- sub pokok temuan -->
1 .Penegakkan integritas dan nilai etika yang kurang efektif.
2 .Komitmen yang rendah terhadap kompetensi.
3 .Kepemimpinan yang kurang kondusif.
4 .Pembentukan struktur organisasi yang kurang
sesuai kebutuhan.
5 .Pendelegasian wewenang dan tanggung jawab yang kurang tepat.
6 .penyusunan dan penerapan kebijakan yang kurang sehat tentang pembinaan sumber daya manusia.
7 .Perwujudan peran aparat pengawasan intern pemerintah yang kurang efektif.
8 .Hubungan kerja yang kurang baik dengan instansi

<option value='12'> 12. Kelemahan Dalam Penilaian Resiko </option>
<!-- sub pokok temuan -->
11. Kelemahan Dalam Lingkungan Pengendalian
12. Kelemahan Dalam Penilaian Resiko
13. Kelemahan Dalam Kegiatan Pengendalian
14. Kelemahan Dalam Informasi dan Komunikasi
15. Kelemahan Dalam Pemantauan Pengendalian Intern
21. Penyebab Ekstern Hambatan Kelancaran Kegiatan
22. Penyebab Ekstern Hambatan Kelancaran Tugas Pokok
23. Penyebab Ketidaklancaran Pelayanan Aparatur Pemerintah Kepada Masyarakat

<option value='13'> 13. Kelemahan Dalam Kegiatan Pengendalian </option>
<!-- sub pokok temuan -->
1 .Reviu yang kurang efektif atas kinerja instansi Pemerintah yang bersangkutan.
10 .Kurangnya akuntabilitas terhadap sumber daya dan pencatatannya.
11 .Dokumentasi yang kurang baik atas Sistem Pengendalian Intern serta transaksi dan kejadian Penting.
2 .Pembinaan yang kurang tepat atas sumber daya manusia.
3 .Pengendalian yang kurang efektif atas pengelolaan sistem informasi.
4 .Pengendalian fisik yang kurang efektif atas aset.
5 .Penetapan dan reviu yang kurang efektif atas indikacator dan ukuran kinerja.
6 .Pemisahan fungsi yang kurang efektif. 
7 .Tidak adanya otorisasi atas transaksi dan kejadian yang penting.
8 .Pencatatan yang kurang akurat dan/atau terlambat atas transaksi dan kejadian
9 .Tidak adanya pembatasan akses atas sumber daya dan pencatatannya.

<option value='14'> 14. Kelemahan Dalam Informasi dan Komunikasi </option>
<!-- sub pokok temuan -->
1 .lnformasi yang kurang relevan dan/atau kurang dapat diandalkan baik informasi yang bersifat keuangan maupun non keuangan yang berhubungan dengan peristiwa-peristiwa eksternal serta internal.
2 .Kurangnya komunikasi atas informasi yang dihasilkan instansi, baik kepada Pimpinan Instansi Pemerintah maupun instansi Pemerintah lainnya yang memerlukan sehingga menghambat pelaksanaan pengendalian intern.

<option value='15'> 15. Kelemahan Dalam Pemantauan Pengendalian Intern </option>
<!-- sub pokok temuan -->
1 .Tidak adanya atau kurangnya pemantauan berkelanjutan.
2 .Tidak adanya atau kurangnya pelaksanaan evaluasi terpisah atas pengendalian intern.
3 .Kurang efektifnya pelaksanaan tindak lanjut rekomendasi hasil audit dan / atau pemeriksaan.

<option value='21'> 21. Penyebab Ekstern Hambatan Kelancaran Kegiatan </option>
<!-- sub pokok temuan -->
1 .Pekerjaan persiapan kegiatan dan perumusan kegiatan kurang mantap (survey dan disain tidak mantap).
10 .Rekanan mempunyai itikad yang kurang baik.
11 .Penyebab ekstern lainnya.
2 .DIPA terlambat diterima
3 .Revisi DIPA yang berlarut-larut
4 .Tanah yang diperlukan untuk pelaksanaan kegiatan penyelesaiannya menjadi berlarut-larut.
5 .Tidak dapat diperoleh tanah yang diperlukan karena dana tidak mencukupi atau tidak tersedia.
6 .Penetapan rekanan menjadi berlarut-larut.
7 .Perijinan atau persetujuan untuk memulai suatu kegiatan menjadi berlarut-larut.
8 .Sarana komunikasi dan atau telekomunikasi tidak mendukung kelancaran kegiatan.
9 .Rekanan yang ditetapkan tidak mampu menyelesaikan tanggung jawabnya.

<option value='22'> 22. Penyebab Ekstern Hambatan Kelancaran Tugas Pokok </option>
<!-- sub pokok temuan -->
1 .lnstansi lain yang terkait kurang reponsif.
2 .Sarana komunikasi dan atau telekomunkasi tidak mendukung kelancaran tugas instansi.
3 .Revisi DIPA yang diajukan pimpinan instansi penyelesaiannya berlarut-larut.
4 .Rekanan yang telah ditetapkan tidak mampu menyelesaikan tanggung jawab.
5 .Perijinan atau persetujuan untuk memulai suatu kegiatan instansi menjadi berlarut-larut.
6 .Pencairan dana pinjaman tidak tepat waktu atau tidak sesuai jadwal kebutuhan
7 .Penyebab ekstern lainnya.

<option value='23'> 23. Penyebab Ketidaklancaran Pelayanan Aparatur Pemerintah Kepada Masyarakat </option>
<!-- sub pokok temuan -->
1 .Prosedur yang ditetapkan belum sederhana.
2 .Masyarakat buta terhadap persyaratan yang perlu dipenuhi dan prosedur yang harus ditempuh.
3 .Tidak ada batas waktu maksimum penyelesaian pelayanan.
4 .Prosedur yang ditetapkan cukup banyak titik pertemuan pegawai dengan masyarakat sehingga membuka peluang pungutan liar.
5 .Persyaratan yang ditetapkan berlebihan sehingga menyulitkan permohonan pelayanan.
6 .Tidak ada koordinasi antar instansi sehingga jelas siapa yang berwenang mengambil keputusan.