<div class="col-md-6">
    <div class="form-group">
        <label for="projectinput4">Departemen</label>
        <select required  class="select2 form-control" name="kddep">
                 <option value=''></option>
                     
                    <option value="8">DEPARTEMEN AGAMA</option>
                     
                    <option value="4">DEPARTEMEN ENERGI DAN SDM</option>
                     
                    <option value="11">DEPARTEMEN KEHUTANAN</option>
                     
                    <option value="12">DEPARTEMEN KELAUTAN DAN PERIKANAN</option>
                     
                    <option value="7">DEPARTEMEN KESEHATAN</option>
                     
                    <option value="16">DEPARTEMEN KOMINFO</option>
                     
                    <option value="9">DEPARTEMEN NAKERTRANS</option>
                     
                    <option value="13">DEPARTEMEN PEKERJAAN UMUM</option>
                     
                    <option value="6">DEPARTEMEN PENDIDIKAN NASIONAL</option>
                     
                    <option value="5">DEPARTEMEN PERHUBUNGAN</option>
                     
                    <option value="3">DEPARTEMEN PERTANIAN</option>
                     
                    <option value="10">DEPARTEMEN SOSIAL</option>
                     
                    <option value="18">KEMENEG PEMUDA DAN OLAH RAGA</option>
                     
                    <option value="17">KEMENEG PERUMAHAN RAKYAT</option>
                     
                    <option value="2">KEMENTERIAN DALAM NEGERI</option>
                     
                    <option value="14">KEMENTERIAN KOPERASI DAN UKM</option>
                     
                    <option value="19">KEMENTERIAN PAN DAN APARATUR</option>
                     
                    <option value="15">PERPUSTAKAAN NASIONAL RI</option>
                     
        </select>
    </div>
</div>
<div class="col-md-6">
    <div class="form-group">
        <label for="projectinput3">Auditor</label>
        <select required  class="select2 form-control" name="kdauditor">
                 <option value=''></option>
                     
                    <option value="20">BPK</option>
                     
                    <option value="19">BPKP</option>
                     
                    <option value="4">INSPEKTORAT KAB. LOMBOK TIMUR</option>
                     
                    <option value="38">INSPEKTORAT PROVINSI NTB</option>
                     
                    <option value="26">ITJEN DEPARTEMEN AGAMA</option>
                     
                    <option value="11">ITJEN DEPARTEMEN DALAM NEGERI</option>
                     
                    <option value="22">ITJEN DEPARTEMEN ENERGI DAN SUMBER DAYA MINERAL</option>
                     
                    <option value="29">ITJEN DEPARTEMEN KEHUTANAN</option>
                     
                    <option value="30">ITJEN DEPARTEMEN KELAUTAN DAN PERIKANAN</option>
                     
                    <option value="25">ITJEN DEPARTEMEN KESEHATAN</option>
                     
                    <option value="34">ITJEN DEPARTEMEN KOMUNIKASI DAN INFORMATIKA</option>
                     
                    <option value="31">ITJEN DEPARTEMEN PEKERJAAN UMUM</option>
                     
                    <option value="24">ITJEN DEPARTEMEN PENDIDIKAN NASIONAL</option>
                     
                    <option value="23">ITJEN DEPARTEMEN PERHUBUNGAN</option>
                     
                    <option value="21">ITJEN DEPARTEMEN PERTANIAN</option>
                     
                    <option value="28">ITJEN DEPARTEMEN SOSIAL</option>
                     
                    <option value="27">ITJEN DEPARTEMEN TENAGA KERJA DAN TRANSMIGRASI</option>
                     
                    <option value="32">ITJEN KEMENTERIAN NEGARA KOPERASI DAN UKM</option>
                     
                    <option value="36">ITJEN KEMENTERIAN NEGARA PEMUDA DAN OLAH RAGA</option>
                     
                    <option value="35">ITJEN KEMENTERIAN NEGARA PERUMAHAN RAKYAT</option>
                     
                    <option value="37">ITJEN KEMENTERIAN PAN DAN APARATUR</option>
                     
                    <option value="33">ITJEN PERPUSTAKAAN NASIONAL REPUBLIK INDONESIA</option>
                     
        </select>
    </div>
</div>

</div>
<div class="row">
<div class="col-md-6">
    <div class="form-group">
        <label for="kdinduk">Induk *</label>
        <select  required class="select2 form-control" name="kdinduk">
                 <option value=''></option>
                     
                    <option value="17">BAPPENDA - BADAN  PENDAPATAN DAERAH</option>
                     
                    <option value="1">BKBPP - BADAN KELUARGA BERENCANA DAN PEMBERDAYAAN PEREMPUAN</option>
                     
                    <option value="2">BKD - BADAN KEPEGAWAIAN DAERAH DAN PENGEMBANGAN SUMBER DAYA MANUSIA</option>
                     
                    <option value="3">BKPP - BADAN KEPEGAWAIAN PENDIDIKAN DAN PELATIHAN</option>
                     
                    <option value="4">BAKESBANGPOLDAGRI - BADAN KESATUAN BANGSA DAN POLITIK DALAM NEGERI</option>
                     
                    <option value="5">BASKEBANGPOLINMAS - BADAN KESATUAN BANGSA, POLITIK DAN PERLINDUNGAN MASYARAKAT</option>
                     
                    <option value="6">BKP - BADAN KETAHANAN PANGAN</option>
                     
                    <option value="7">BKPM - BADAN KOORDINASI PENANAMAN MODAL</option>
                     
                    <option value="8">BKPM-PT - BADAN KOORDINASI PENANAMAN MODAL DAN PERIZINAN TERPADU</option>
                     
                    <option value="9">BLHP - BADAN LINGKUNGAN HIDUP DAN PENELITIAN</option>
                     
                    <option value="10">BNN - BADAN NARKOTIKA NASIONAL</option>
                     
                    <option value="11">BPM-PEMDES - BADAN PEMBERDAYAAN MASYARAKAT DAN PEMERINTAHAN DESA</option>
                     
                    <option value="12">BP2KB - BADAN PEMBERDAYAAN PEREMPUAN DAN KELUARGA BERENCANA</option>
                     
                    <option value="13">BPM-LH - BADAN PENANAMAN MODAL DAN LINGKUNGAN HIDUP</option>
                     
                    <option value="14">BPBD - BADAN PENANGGULANGAN BENCANA DAERAH</option>
                     
                    <option value="15">BPKD - BADAN PENGELOLA KEUANGAN DAERAH</option>
                     
                    <option value="16">BPKAD - BADAN PENGELOLAAN KEUANGAN DAN ASET DAERAH</option>
                     
                    <option value="18">BPSDM - BADAN PENGEMBANGAN SUMBERDAYA MANUSIA DAERAH</option>
                     
                    <option value="19">BAPPEDA - BADAN PERENCANAAN PEMBANGUNAN DAERAH</option>
                     
                    <option value="20">BAPERSIP - BADAN PERPUSTAKAAN DAN ARSIP</option>
                     
                    <option value="64">BUMD - BADAN USAHA MILIK DAERAH</option>
                     
                    <option value="21">BPM-PEMKEL - BPM DAN PEMERINTAHAN KELURAHAN</option>
                     
                    <option value="22">BPM-PEMDES-PPKB-KP - BPM, PEMDES, PPKB DAN KP</option>
                     
                    <option value="24">DISHUT - DINAS KEHUTANAN</option>
                     
                    <option value="25">DISLUTKAN - DINAS KELAUTAN DAN PERIKANAN</option>
                     
                    <option value="26">DISDUKCAPIL - DINAS KEPENDUDUKAN DAN PENCATATAN SIPIL</option>
                     
                    <option value="27">DIKES - DINAS KESEHATAN</option>
                     
                    <option value="28">DISKAPANG - DINAS KETAHANAN PANGAN</option>
                     
                    <option value="29">DISKOMINFOTIK - DINAS KOMUNIKASI, INFORMATIKA DAN STATISTIK</option>
                     
                    <option value="30">DISKOP - DINAS KOPERASI USAHA KECIL DAN MENENGAH</option>
                     
                    <option value="31">DISLHK - DINAS LINGKUNGAN HIDUP </option>
                     
                    <option value="68">DLHK - DINAS LINGKUNGAN HIDUP DAN KEBERSIHAN</option>
                     
                    <option value="23">DISPAR - DINAS PARIWISATA</option>
                     
                    <option value="32">DPUPR - DINAS PEKERJAAN UMUM DAN PENATAAN RUANG</option>
                     
                    <option value="33">DPUPT - DINAS PEKERJAAN UMUM,PERTAMBANGAN DAN ENERGI</option>
                     
                    <option value="66">DAMKARMAT - DINAS PEMADAM KEBAKARAN DAN PENYELAMATAN</option>
                     
                    <option value="34">DPMPD DUKCAPIL - DINAS PEMBERDAYAAN MASYARAKAT </option>
                     
                    <option value="35">DP3AP2KB - DINAS PEMBERDAYAAN PEREMPUAN, PERLINDUNGAN ANAK, PENGENDALIAN PENDUDUK DAN KELUARGA BERENCANA</option>
                     
                    <option value="41">DIKPORA - DINAS PEMUDA DAN OLAHRAGA</option>
                     
                    <option value="36">DPMPTSP - DINAS PENANAMAN MODAL DAN PELAYANAN TERPADU SATU PINTU</option>
                     
                    <option value="37">DISPENDA - DINAS PENDAPATAN DAERAH</option>
                     
                    <option value="38">DPPKAD - DINAS PENDAPATAN, PENGELOLAAN KEUANGAN DAN ASET DAERAH</option>
                     
                    <option value="39">DIKBUD - DINAS PENDIDIKAN DAN KEBUDAYAAN</option>
                     
                    <option value="40">DISDIK - DINAS PENDIDIKAN NASIONAL</option>
                     
                    <option value="42">DISDAG - DINAS PERDAGANGAN</option>
                     
                    <option value="43">DISHUBKOMINFO - DINAS PERHUBUNGAN</option>
                     
                    <option value="44">DISPERIN - DINAS PERINDUSTRIAN</option>
                     
                    <option value="45">DISPERINDAG - DINAS PERINDUSTRIAN DAN PERDAGANGAN</option>
                     
                    <option value="46">DISBUN - DINAS PERKEBUNAN</option>
                     
                    <option value="47">DPKP - DINAS PERPUSTAKAAN DAN KEARSIPAN</option>
                     
                    <option value="48">DISTAMBEN - DINAS PERTAMBANGAN DAN ENERGI</option>
                     
                    <option value="49">DISTANBUN - DINAS PERTANIAN </option>
                     
                    <option value="50">DPTPH - DINAS PERTANIAN TANAMAN PANGAN DAN HORTIKULTURA</option>
                     
                    <option value="51">DPTPH - DINAS PERTANIAN TANAMAN PANGAN DAN PETERNAKAN</option>
                     
                    <option value="52">DISPERKIM - DINAS PERUMAHAN DAN PERMUKIMAN</option>
                     
                    <option value="53">DISNAKKESWAN - DINAS PETERNAKAN DAN KESEHATAN HEWAN</option>
                     
                    <option value="54">DINSOS - DINAS SOSIAL</option>
                     
                    <option value="57">DISNAKERTRANS - DINAS TENAGA KERJA DAN TRANSMIGRASI</option>
                     
                    <option value="58">INSPEKTORAT - INSPEKTORAT</option>
                     
                    <option value="59">KANTOR PPT - KANTOR PPT</option>
                     
                    <option value="60">KPUD - KOMISI PEMILIHAN UMUM DAERAH</option>
                     
                    <option value="63">PEMDES - PEMERINTAH DESA</option>
                     
                    <option value="67">PEMKEC - PEMERINTAH KECAMATAN</option>
                     
                    <option value="65">SATPOL PP - SATUAN POLISI PAMONG PRAJA</option>
                     
                    <option value="61">SEKDA - SEKRETARIAT DAERAH</option>
                     
                    <option value="62">SEKWAN - SEKRETARIAT DPRD</option>
                     
        </select>
    </div>
</div>


</div>
<div class="row">
<div class="col-md-6">
    <div class="form-group">
        <label for="bidang">Bidang</label>
        <select id="projectinput5" name="bidang" class="select2 form-control">
                
                <option value=""></option>
                <option value="Komprehensif">Komprehensif</option>
                <option value="Kebijakan">Kebijakan</option>
                <option value="Tupoksi">Tupoksi</option>
                <option value="Pengelolaan Aset Daerah">Pengelolaan Aset Daerah</option>
                <option value="Pengelolaan Keuangan">Pengelolaan Keuangan</option>
                <option value="Pengelolaan Pendapatan">Pengelolaan Pendapatan</option>
                <option value="Pengelolaan Kepegawaian">Pengelolaan Kepegawaian</option>
                <option value="Pengelolaan Kekayaan">Pengelolaan Kekayaan</option>
        </select>
    </div>
</div>

<div class="col-md-6">
    <div class="form-group">
        <label for="kdobrik">Sifat</label>
        <select id="sifat" name="sifat" class="select2 form-control">
               
               <option value=""></option>
               <option value="Reguler">Reguler</option>
               <option value="Khusus">Khusus</option>
               <option value="Khusus">Kinerja</option>
               <option value="Rahasia">Rahasia</option>
               <option value="Terpadu">Terpadu</option>
               <option value="Kasus">Kasus</option>
       </select>
    </div>
</div>